* {
  margin: 0;
  padding: 0;
}

#back {
  background: linear-gradient(
      to right top,
      rgba(18, 95, 126, 0.7),
      rgba(83, 141, 141, 0.7)
    ),
    url(./img/banner.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
